<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854403904660-r4use43b9ivt0o27lflcfqi6nm93k220.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854403904660-r4use43b9ivt0o27lflcfqi6nm93k220</string>
	<key>API_KEY</key>
	<string>AIzaSyAjdYcRMFP_SCfa7TQDd_8x1OX3UlsJzM0</string>
	<key>GCM_SENDER_ID</key>
	<string>854403904660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.census.NPR2020</string>
	<key>PROJECT_ID</key>
	<string>censusproject-4238b</string>
	<key>STORAGE_BUCKET</key>
	<string>censusproject-4238b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854403904660:ios:f9f08db3330787fb49b081</string>
</dict>
</plist>