<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618535535684-0b9f71gush5qc8otbisj1el4m5lm9o9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618535535684-0b9f71gush5qc8otbisj1el4m5lm9o9i</string>
	<key>API_KEY</key>
	<string>AIzaSyDx5QA4x7kQcTFZW2QCGKXbYmfur7xT3vw</string>
	<key>GCM_SENDER_ID</key>
	<string>618535535684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>census.NPR-census2021</string>
	<key>PROJECT_ID</key>
	<string>census-d10f7</string>
	<key>STORAGE_BUCKET</key>
	<string>census-d10f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618535535684:ios:1aa420a6e4ea8f9b0fe811</string>
</dict>
</plist>